/*#header{
    position: absolute;
    top: 0;
    left: 0;
}*/
h1{
    font-size: 30px;
}
/* Style all P tags*/
p, span, a, li{
    font-size: 14;
    color:red;
    font-weight: bold;
    font-family: Arial;
}
/*Targeting elements*/
a{
    text-decoration: underline;
    color: red;
}
span{
    text-transform: uppercase;
    display: block;
    color: royalblue;
}
/*div{
    width: 100%;
    background-color: grey;
}*/
h2{
    font-size: 25px;
}
#content-header{
    font-size: 20;
    color: red;
}

.deck{
    color: red;
}
/*Select a p tag just after h2 tag*/
#all-articles h2 + p{
    color: green;
}
div[id]{
    background: grey;
}
a[href^=http]{
    color: green;
}
a:hover{
    color: red;
}
a:active{
    color: orange;
}
a:visited{
    color: purple;
}
article p:first-of-type{
    font-weight: bold;
}
article p:last-of-type{
    color: orange;
}
#header h1{
    color: orangered;
}
#header h2{
    color: #797634;
}
#header{
    background: royalblue;
}
a{
    color: crimson;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: darkgoldenrod;
    text-decoration: underline;
    background: darkkhaki;
}